/.vscode
/711.c
/A12 programmierung.c
/A27.c
/assessment.c
/avl.c
/b21 kursiv.c
/B24.c
/baum.c
/Bisektion.c
/Brutto-Netto-Rechner.c
/Buchstabensalat.c
/cows_rec.c
/cows_rec.exe
/dialogue.c
/dialogue.exe
/divide.c
/Dynamische Felder.c
/expfunktion.c
/fakultet.c
/fc.c
/fc.exe
/Fibonacci and Spiral sequences.c
/Fibonacci.exe
/formel.c
/formel.exe
/Freier Fall.c
/gcc.c
/hash.c
/hash.cpp
/hoehe.c
/istein.c
/kalender.c
/kalender.exe
/kreuz.c
/kreuz.exe
/LED.c
/main.c
/maxmin.c
/Minimale Teilsumme.c
/montecarlo.c
/my_sqrt.c
/notes.html
/notes_files
/Pimezahlen.c
/plotter.c
/pointer.c
/Polynomen Ableitung.c
/potenz_rek.c
/pruefeZugfahrt.c
/PSEUDO.c
/Quadratische Gleichungen.c
/quersumme.c
/quersumme.exe
/Quersumme1.c
/queue und stack.c
/Raumbelegung.c
/rounding.c
/ruekwarts_rek.c
/ruekwarts_rek.exe
/sorting aufgabe.c
/sorting.c
/sorting.exe
/Spiralzahlen.c
/sqrt2.c
/starships.c
/Steigung und Abstand.c
/stringVerschluesselung1.c
/stringVerschluesselung1.exe
/teilnehmerinfo.c
/training 1.c
/training 1.exe
/training facultat.c
/training facultat.exe
/training steuer.c
/training steuer.exe
/Ulam1a.c
/Wegbeschreibung.c
/wurf spiel.c
/Zahlendreieck.c
/Zahlendreieck.exe
/ziffer.c